%nav.navbar.navbar-inverse{:role => "navigation"}
  .container
    .navbar-header
      %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to "Integration Sample", root_path, class: "navbar-brand"
    .collapse.navbar-collapse
      %ul.nav.navbar-nav.navbar-right
        - if current_user
          %li.dropdown
            = link_to '#', class: 'dropdown-toggle', data: {toggle: 'dropdown'} do
              = image_tag current_user.profile_image, class: 'nav__profile img-circle', size: '40x40'
              = current_user.name
              = fa_icon 'caret-down'
            %ul.dropdown-menu
              %li= link_to 'Sign Out', destroy_user_session_path, method: :delete
        - else
          %li= link_to 'Signin with Facebook', user_omniauth_authorize_path(:facebook)
